customtkinter==5.2.2
google-auth==2.49.0
google-genai==1.66.0
httpx==0.28.1
httpx2==2.10.0
Jinja2==3.1.6
langchain-core==1.5.4
langchain-google-genai==4.2.1
langchain-openai==1.5.1
langchain-protocol==0.0.18
llama_cpp_python==0.3.35
openai==3.0.0
pillow==12.1.1
pydantic==2.12.5
pydantic_core==2.41.5
python-dotenv==1.2.2
qrcode==8.2
requests==2.32.5
requests-toolbelt==1.0.0
