customtkinter==5.2.2
google-auth==2.49.0
google-genai==1.66.0
httpx==0.28.1
Jinja2==3.1.6
langchain-core==1.5.4
langchain-google-genai==4.2.1
langchain-openai==1.5.1
langchain-protocol==0.0.18
langgraph==1.0.10
langgraph-checkpoint==4.0.1
langgraph-prebuilt==1.0.8
langgraph-sdk==0.3.9
langsmith==0.7.14
llama_cpp_python==0.3.35
openai==3.0.0
pillow==12.1.1
pydantic==2.12.5
pydantic_core==2.41.5
py-vapid==1.9.4
pywebpush==2.5.0
python-dotenv==1.2.2
qrcode==8.2
requests==2.32.5
requests-toolbelt==1.0.0
pystray==0.19.5
